* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
#navigation {
    font-weight: 500;
    /* color: white; */
    display: flex;
    width: 100%;
    padding: 1rem 3rem;
    justify-content: center;
    /* background-color: rgba(28, 28, 28, 0.2); */
    align-items: center;;
}
#nav-bar {
    display: flex;
    list-style: none;
    text-decoration: none;
}
.nav-item {
    margin: 0 1rem 0 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}
.nav-item:hover {
    color: #D94343;
    
}
.bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(
        "/images/becca-tapert-sY5RjMB1KkE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#login-button {
    color: white;
    outline: none;
    background: none;
    border: none;
    font-size: 1rem;
    float: right;
    background-color: rgb(28, 28, 28);
    border-radius: 18px;
    padding: .5rem 1rem;
    transition: 0.2s ease;
}
#login-button:hover {
    background-color: white;
    color: rgb(28, 28, 28);
    cursor: pointer;
}
.main-panel {
    width: 55%;
    height: 70vh;
    background-color: rgba(28, 28, 28, 0.9);
    margin: 5%;
    float: right;
    display: flex;
    flex-direction: column;
    /* padding: 4rem 3rem; */
}
.aside-panel{
    position: absolute;
    left: 4%;
    top: 35%;
}
.header-text {
    color: #D94343;
    margin-bottom: 2rem;
}
.body-text {
    color: white;
}
#examples-section {
    position: relative;
    margin-top: 100vh;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.examples-wrapper {
    width: 100%;
    padding: 3rem;
    display: grid;
    align-items: center;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.blue-link {
    position: absolute;
    top: 6px;
    left: 8px;
    color: #5e42ea;
    cursor: pointer;
}
.card-icon {
    background:rgb(28, 28, 28);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.7rem;
    padding: 0.4rem;
}
.bxs-hot {
    color: #c51b53;
}
.bxs-timer {
    color: #3477fd;
}
.bxs-medal {
    color: #e6d42f;
}
.card-image {
    width: 250px;
    height: 250px;
}
a {
    text-decoration: none;
}
.link-wrapper {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.link-box {
    border-radius: 4px;
    padding: 1.5rem .2rem;
    width: 125px;
    color: white;
    background: #D94343;
    text-align: center;
    transition: 0.2s ease;
}
.link-box:hover {
    background: #e85c5c;
}
.type-card {
    width: 250px;
    position: relative;
    justify-self: center;
}

.type-card:hover .more-text {
    opacity: 1;
}
.card-title {
    width: 250px;
    text-align: center;
    background: #1c1c1c;
    color: white;
    padding: 1rem;
}
h4 {
    font-weight: 400;

}
.more-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 83%;
    background: rgba(255, 255, 255, 0.4);
    opacity: 0;
    transition: 0.2s ease;
    cursor: pointer;
}
.expand-more {
    font-size: 3rem!important;
}
#top-scroller {
    display: flex;
    align-items: center;
    color:rgb(28, 28, 28);
    position:fixed;
    bottom: 5px;
    right: 5px;
}
.back-to-top {
    font-size: 4rem!important;
    color:rgb(28, 28, 28);
}
#top-scroller:hover .tooltip {
    display: block;
}
.tooltip {
    background: white;
    border-radius: 18px;
    padding: .5rem 1rem;
    display: none;
    transition: 0.2s ease;
}
#wizard-section {
    background: #f3f6fb;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}
#flutter-app {
    width: 75%;
}
#flutter-app-top {
    height: 100%;
    width: 100%;
}

.demo-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #D94343;
    position: absolute;
    width: 70%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.big-text {
    font-size: 40px;
    font-weight: 300;
}
.waving-hand {
    font-size: 5rem!important;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 1650px) {
    .logo {
        width: 425px;
    }
}

@media only screen and (max-width: 1275px) {
    #examples-section {
        height: fit-content;
    }
    .examples-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .logo {
        width: 300px;
    }
    .blue-link {
        display: none;
    }
    .header-text {margin-top: 1rem;}
}

@media only screen and (max-width: 875px) {
    .aside-panel { 
        position: relative;
        top: initial;
        left: initial;
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .bg-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-panel {
        width: 80%;
    }
}

@media only screen and (max-width: 625px) {
    .examples-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    #flutter-app {
        width: 100%;
    }
    .hide {
        display: none;
    }
    .link-box {
        padding: 1.2rem .1rem;
        width: 105px;
        font-size: 12px;
    }
    .main-panel {
        padding: 1rem .7rem;
    }
}
